* {
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0)),
    url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/1451f11e03da76480966b636a622119a.jpg");
  background-size: 100%;
}
.menu {
  padding-top: 50px;
}
.menu-pic {
  padding-bottom: 35px;
}
.menu-bar1 {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.menu-bar2 {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.menu-bar1 {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.menu-text1 {
  color: white;
  font-weight: 500;
  font-size: 11px;
}
.menu-bar2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: white;
}
.menu-text2 {
  top: -2.5;
  font-weight: 400;
  font-size: 13px;
}
.menu-text3 {
  font-weight: 600;
  font-size: 14px;
}
.button {
  border-radius: 30px;
  gap: 30px;
  display: inline-block;
  background-color: rgba(209, 209, 209, 0.6);
  font-weight: 500;
  font-size: 13px;
  padding: 15px;
}
.social-icons {
  gap: 15px;
}
.button {
  width: 200px;
  height: 60px;
  color: white;
  border-radius: 30px;

  display: inline-block;
  background-color: rgba(209, 209, 209, 0.6);
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}
.logo {
  width: 150px;
  height: 20px;
  top: 15px;
}
.hero-content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  color: white;
}
.hero-content {
  width: 50%;
  height: 300 px;
}
.hero-content h1 {
  -webkit-text-stroke: 1px white;
  color: transparent;
  text-transform: uppercase;
}
.hero-content-text {
  margin-left: 50px;
  margin-right: auto;
  margin-top: 150px;
}
.today {
  color: rgba(0, 120, 246, 1);
  font-size: 14.1px;
  font-weight: 700;
}
.profile {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 150px;
  gap: 20px;
}
