* {
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
}
.hero {
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0)),
    url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/1451f11e03da76480966b636a622119a.jpg");
}
.menu {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.menu-pic {
  display: flex;
  align-items: center;
}
.menu-bar1 {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.menu-text1 {
  color: white;
  font-weight: 400;
  font-size: 11px;
  opacity: 0.4;
}
.menu-bar2 {
  gap: 20px;
  color: white;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-text2 {
  top: -2.5;
  font-weight: 400;
  font-size: 12px;
  opacity: 0.4;
}
.menu-text3 {
  font-weight: 600;
  font-size: 14px;
}
.blink {
  display: flex;
  justify-content: space-around;
}
.button {
  border-radius: 30px;
  gap: 30px;
  display: flex;
  justify-content: center;
  background-color: rgba(209, 209, 209, 0.6);
  font-weight: 500;
  font-size: 13px;
  padding: 15px;
  width: 142px;
  height: 21px;
  margin-top: 2px;
}
.blue-dot {
  width: 8px;
  height: 8px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 120, 246, 1);
  border-radius: 50%;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  margin-top: 5px;
  margin-right: 7px;
}
/* animation: blink 2s infinite; */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.social-icons {
  gap: 15px;
  display: flex;
  justify-content: center;
  opacity: 0.4;
}
.logo {
  width: 150px;
  height: 20px;
  top: 15px;
}
.search {
  display: flex;
  width: 140px;
  align-items: center;
}
.hero-content {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-size: cover;
  justify-content: space-between;
  color: white;
  .hero-content h1 {
    -webkit-text-stroke: 1px white;
    color: transparent;
    text-transform: uppercase;
  }
}
.img-frame {
  border-radius: 20px;
  width: 1000px;
  height: 450px;
  margin-top: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coverpic-hover {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}
.coverpic-hover:hover {
  transform: scale(1.5);
}
.hero-content-text {
  margin-left: 50px;
  margin-right: auto;
  margin-top: 150px;
}
.today {
  color: rgba(0, 120, 246, 1);
  font-size: 14px;
  font-weight: 700;
  animation: blink 2s infinite;
}
.profile {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 150px;
  gap: 20px;
}
.tushigte {
  width: 50px;
  height: 50px;
}
.tushigte:hover {
  transform: scale(1.1);
  color: white;
}
.border {
  font-weight: 500;
  opacity: 0.4;
}
.border:hover {
  color: white;
}
.dot {
  padding-left: 5px;
  padding-right: 5px;
}
.black-screen {
  background-size: 100%;
  height: 350px;
  background-color: rgb(0, 0, 0);
  margin-top: -40px;
  color: white;
  font-weight: 100;
  font-size: 13px;
}
.switch-button {
  display: flex;
  justify-content: center;
  margin-right: auto;
  /* margin-left: auto; */
  gap: 1200px;
  padding-top: 50px;
  width: 400px;
}
.cards {
  display: flex;
  justify-content: space-around;
  margin-top: -200px;
  width: 100%;
  /* transition: transform 0.2s; */
}
.cards:hover {
  /* transform: scale(1.1); */
}
.card-background1 {
  background-image: url(cover\ pic1.png);
  background-size: 100%;
  height: 433px;
  width: 260px;
  border-radius: 10px;
  transition: transform 0.2s;
  text-shadow: #D1D1D1;
}
.card-background1:hover {
  background-size: 110%;
  transform: scaleX(1.1);
  transform: scaleY(1.05);
  height: 450px;
  width: 270px; 
  transition: transform 0.2s;



}
.card-background2 {
  background-image: url(cover\ pic2.png);
  border-radius: 10px;
  background-size: cover;
  height: 433px;
  width: 260px;
  text-shadow: #D1D1D1;

}
.card-background2:hover {
  background-size: 110%;
  transform: scaleX(1.1);
  transform: scaleY(1.05);
  height: 450px;
  width: 270px;
  transition: transform 0.2s;

}
.card-background3 {
  background-image: url(coverpic3.png);
  border-radius: 10px;
  background-size: cover;
  height: 433px;
  width: 260px;
  text-shadow: #D1D1D1;
}
.card-background3:hover {
  background-size: 110%;
  transform: scaleX(1.1);
  transform: scaleY(1.05);
  height: 450px;
  width: 270px;
  transition: transform 0.2s;

}
.card-background4 {
  background-image: url(cover\ pic4.png);
  border-radius: 10px;
  background-size: cover;
  height: 433px;
  width: 260px;
  text-shadow: #D1D1D1;
}
.card-background4:hover {
  background-size: 110%;
  transform: scaleX(1.1);
  transform: scaleY(1.05);
  height: 450px;
  width: 270px;
  transition: transform 0.2s;

}
.card-background5 {
  background-image: url(cover\ pic5.png);
  border-radius: 10px;
  background-size: cover;
  height: 433px;
  width: 260px;
  text-shadow: #D1D1D1;
}
.card-background5:hover {
  background-size: 110%;
  transform: scaleX(1.1);
  transform: scaleY(1.05);
  height: 450px;
  width: 270px;
  transition: transform 0.2s;

}
.card-cover {
  min-width: 250px;
  /* width: 245px; */
  height: 433px;
  border-radius: 10px;
  padding-top: 10px;
  text-shadow: #D1D1D1;
}
.lead {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 20px;
}
.blue-circle {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  padding-bottom: 5px;
}
.read {
  color: white;
  font-size: 12px;
}
.card-textB {
  margin-top: 90px;
}
.card-text {
  color: white;
  display: flex;
  justify-content: start;
  gap: 20px;
  padding-top: 130px;
  padding-left: 20px;
}
.look {
  gap: 1px;
  display: flex;
  justify-content: center;
}

.card-title {
  color: white;
  padding-left: 20px;
  padding-top: 15px;
}
.card-button {
  width: 170px;
  height: 23px;
  border-radius: 20px;
  background-color: rgba(0, 120, 246, 1);
  padding-left: 10px;
  font-size: 10px;
  font-weight: 500;
  color: white;
  margin-top: 15px;
  margin-left: 20px;
  padding-top: 10px;
}
.cover-pic {
  width: 95%;
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
  overflow-y: hidden;
  /* gap:; */
  height: 410px;
}
.cover-pic::-webkit-scrollbar {
  display: none;
}
.article-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  border-radius: 0 0 50px 50px;
  margin: 0 auto;
  padding-top: 100px;
  gap: 20px;
}
.article {
  width: 750px;
  height: 250px;
  gap: 20px;
  font-weight: 500;
  font-size: 13px;
  margin-top: 44px;
}
.article:hover {
  /* box-shadow: 0px 0px 50px 4px rgba(194, 193, 193, 0.2); */
  transform: scaleY(1.05);
  
}
.profile-item {
  display: flex;
  justify-content: start;
  gap: 10px;
  background-color: whitesmoke
}
.article-right {
  align-self: flex-end;
  margin-top: 50px;
}
.profile-right {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.date {
  opacity: 0.4;
}
.article-item {
  width: 750px;
  height: 200px;
  border-radius: 0 27px 27px 27px;
  margin-top: 13px;
  background-color: white;
  letter-spacing: 0.015rem;
}
.article-item:hover {
  box-shadow: 0px 0px 50px 4px rgba(194, 193, 193, 0.2);
  transform: scaleY(1.05);
}
.meduushtei {
  display: flex;
  align-items: center;
  gap: 10px;
}
.blue-icon {
  padding-left: 30px;
  padding-top: 30px;
}
.text1 {
  font-weight: 500;
  font-size: 14px;
  color: rgba(0, 120, 246, 1);
  width: 185px;
  display: flex;
  padding-top: 20px;
}
.text1:hover {
  color: rgb(0, 120, 246);
}
.text2 {
  font-weight: 700px;
  font-size: 23px;
  padding-left: 50px;
  padding-top: 5px;
  width: 600px;
}
.text2:hover {
  color: rgb(0, 120, 246);
}
.cover {
  padding-left: 560px;
  margin-top: -35px;
  
}
.prevweek {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  margin-left: 50px;
  gap: 100px;
  width: 70%;
  margin-left: 29vh;
}
.prevweek-tab1 {
  /* width: 100vh; */
  height: 65px;
  font-size: 15px;
  font-weight: 700;
  color: rgba(0, 120, 246, 1);

}
.prevweek-tab1:hover {
  color: rgb(0, 120, 246);
}
.prevweek-tab2 {
  width: 215px;
  height: 65px;
  font-size: 15px;
  font-weight: 400;
  color: rgba(136, 136, 136, 1);
}
.prevweek-tab2:hover {
  color: rgb(0, 120, 246);
}
.grid-article-first {
  width: 1116px;
  height: 633px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.top-left {
  display: grid;
  gap: 19px;
  grid-template-columns: 264.75px 264.75px;
}
.top-right {
  width: 558px;
}
.top-right {
  display: grid;
  gap: 19px;
  grid-template-columns: 264.75px 264.75px;
}
.grid-article1 {
  color: white;
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid-article2 {
  background-image: url(book2.png);
  grid-column: 2/1;
  grid-row: 2/3;
  border-radius: 20px;
  height: 234.24px;
  width: 264.75px;
}
.grid-article3 {
  background-image: url(book3.png);
  border-radius: 20px;
  grid-column: 2/2;
  grid-row: 3/2;
  height: 234.24px;
  width: 264.75px;
}
.grid-article4 {
  background-image: url(book4.png);
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-article5 {
  background-image: url(book5.png);
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-article6 {
  background-image: url(book6.png);
  border-radius: 20px;
  background-repeat: no-repeat;
}
.grid-article7 {
  background-image: url(book7.png);
  border-radius: 20px;
  background-repeat: no-repeat;
}
.grid-article-second {
  width: 1116px;
  height: 633px;
  margin-left: auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: auto;
}
.grid-articleA {
  color: white;
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid-articleB {
  background-image: url(bookB.png);
  grid-column: 2/1;
  grid-row: 2/3;
  border-radius: 20px;
  height: 234.24px;
  width: 264.75px;
}
.grid-articleC {
  background-image: url(bookC.png);
  border-radius: 20px;
  grid-column: 2/2;
  grid-row: 3/2;
  height: 234.24px;
  width: 264.75px;
}
.grid-articleD {
  background-image: url(bookD.png);
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-articleE {
  background-image: url(bookE.png);
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-articleF {
  background-image: url(bookF.png);
  border-radius: 20px;
  background-size: cover;
}
.grid-articleG {
  background-image: url(bookG.png);
  border-radius: 20px;
  background-size: cover;
}
.grid-footerA {
  width: 100%;
  margin-top: 100px;
  height: 500px;
  background-color: black;
  display: flex;
  justify-content: start;
  gap: 30px;
}
.container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.footer-container1 {
  margin-top: 50px;
  margin-left: 150px;
  width: 400px;
  height: 400px;
}
.blur1 {
  width: 323px;
  height: 90px;
  background-color: #404040;
  border-radius: 18px;
  margin-top: 50px;
}
.blur1:hover{
  transform: scaleX(1.05);
  opacity: 0.8; 

  
}
.blur-text{
  padding-top: 20px;
  padding-left: 20px;
}
.blur-circle{
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: black;
  margin-top: -42px;
  margin-left: 230px;
}
.blur-circle:hover {
  background-color: rgba(0, 120, 246, 1);
}
.blur2 {
  margin-top: 15px;
}
.app-link {
  margin-top: 30px;
  display: flex;
  justify-content: start;
  gap: 20px;
}
.footer-container2 {
  margin-top: 50px;
  margin-left: 50px;
  width: 650px;
  height: 403px;
}
.TextA {
  color: white;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 450px;
  height: 21px;
  font-size: 13px;
  font-weight: 500px;
}
.footer-dot {
  width: 10px;
  height: 10px;
}
.intellectual-property {
  font-size: 10px;
  color: gray;
  width: 500px;
  font-weight: 400;
  height: 26px;
  margin-top: 30px;
}
.grid-footer {
  width: 624px;
  height: 264px;
  display: flex;
  margin-top: 30px;
}
.blue-title {
  font-size: 15px;
  font-weight: 700;
  color: rgba(0, 120, 246, 1);
  display: block;
}
.width {
  display: block;
  padding-top: 10px;
}
.first {
  font-size: 12px;
  font-weight: 400;
  color: gray;
  width: 208px;
  padding-top: 20px;
}
.second {
  font-size: 12px;
  font-weight: 400;
  color: gray;
  width: 208px;
}
.third {
  font-size: 12px;
  font-weight: 400;
  color: gray;
  width: 208px;
  padding-top: 20px;
}
.social-links{
width: 100%;
background-color: black;
}
.footer-container3 {
  width: 1151px;
  height: 72px;
  background-color: black;
  margin-top: -100px;
}
.social-link {
  gap: 175px;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  opacity: 20%;
  margin-left: 240px;
  margin-right: auto;
}
